<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      INGO KNEISEL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="padding-xl">
    <ion-card class="hidden-xs">
        <ion-card-header>
          <ion-card-title color="primary">Jobangebote</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
  <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Steuerberater/in</ion-card-title>
                    <ion-card-subtitle color="primary">Jobbezeichnung</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <p>Wir schreiben derzeit eine Anstellung für eine/n Steuerberater/in, entweder im Rahmen eines Anstellungsverhältnisses gem. § 58 StBerG oder einer freiberuflichen Zusammenarbeit aus. Es besteht auch die Möglichkeit, einer/m Kollegen/in der/die bereits selbst über einen eigenen kleinen Mandantenstamm verfügt, einen Arbeitsplatz, z. B. im Rahmen einer Bürogemeinschaft und/odere einer freien Mitarbeit in unserer Kanzlei zu bieten.</p>
                    <p>Geplant ist längerfristig die Übergabe der Kanzlei an eine/n Nachfolger/in , der/dem sich damit sodann die Möglichkeit eröffnen könnte, unsere Mandanten und unser Umfeld kennenzulernen.</p>
                    <p><strong>Bitte bewerben Sie sich, gerne per E-Mail</strong></p>
                  </ion-card-content>
                </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="margin-bottom">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Ingo Kneisel</ion-card-title>
                    <ion-card-subtitle color="primary">Ihr Ansprechpartner</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="contact">
                    <p><strong>Steuerberater, vereidigter Buchprüfer</strong></p>
                    <p>Durchwahl: 0521 92420 - 21</p>
                    <ion-text color="primary"><a href="mailto:info@ingo-kneisel.de">info@ingo-kneisel.de</a></ion-text>
                  </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
</ion-content>
