<ion-header>
    <ion-toolbar>
      <ion-icon class="arrow-back" size="large" color="primary" name="arrow-back" (click)="goBack()"></ion-icon>
      <ion-title color="primary">Team</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <div class="padding-xl">
    <ion-card class="welcome-card hidden-xs">
        <ion-card-header>
          <ion-card-title>Ingo Kneisel & Team</ion-card-title>
          <ion-card-subtitle color="primary">Eine gute Beratung erfordert versierte und qualifizierte Mitarbeiter!</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Mit unserem Team von Mitarbeiterinnen und einem Steuerberater/vBP als Kanzleiinhaber, stellen wir uns als versiertes und qualifiziertes Team allen Ihren Wünschen und Ansprüchen. Ihre persönliche Betreuung ist bei uns ein "Muss". Sie sind keine "Nummer" und müssen auch keine "ziehen" um von uns betreut und beraten zu werden.</p>
          <p>Unsere Mitarbeiterinnen verfügen über umfangreiche Erfahrungen in der steuerlichen und betriebswirtschaftlichen Beratung. Wir bieten Ihnen unsere Dienstleistungen gut, verlässlich, kostengünstig und flexibel an.</p>
          <p>Für alle Problemstellungen ist stets eine unserer Mitarbeiterinnen verantwortlich, die Sie in allen Angelegenheiten und Fragen ansprechen können. Darüber hinaus werden Sie je nach Dienstleistungsumfang von einem oder mehreren Sachbearbeiterinnen betreut. So stellen wir sicher, dass Sie fachlich stets optimal beraten werden, ohne dass der persönliche Kontakt verloren geht.</p>
        </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card hidden-lg">
        <ion-card-header>
          <ion-card-title color="primary">Ingo Kneisel & Team</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Mit unserem Team von Mitarbeiterinnen und einem Steuerberater/vBP als Kanzleiinhaber, stellen wir uns als versiertes und qualifiziertes Team allen Ihren Wünschen und Ansprüchen. Ihre persönliche Betreuung ist bei uns ein "Muss". Sie sind keine "Nummer" und müssen auch keine "ziehen" um von uns betreut und beraten zu werden.</p>
        </ion-card-content>
      </ion-card>
    <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="6" size-md="4" size-lg="4" size-xl="4">
            <ion-card>
              <ion-card-header>
              </ion-card-header>
              <ion-card-content class="contact">
                <ion-avatar slot="start">
                  <img src="../../../assets/and.jpg">
                </ion-avatar>
                <ion-card-title>Andrea Schengbier</ion-card-title>
                <ion-card-subtitle color="primary">Steuerfachangestellte</ion-card-subtitle>
                <p>Durchwahl: 0521 92420 - 24</p>
                <a href="mailto:andreaschengbier@ingo-kneisel.de">andreaschengbier@ingo-kneisel.de</a>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="4" size-lg="4" size-xl="4">
            <ion-card>
              <ion-card-header>
              </ion-card-header>
              <ion-card-content class="contact">
                <ion-avatar slot="start">
                  <img src="../../../assets/ew.jpg">
                </ion-avatar>
                <ion-card-title>Ewa Oziembala</ion-card-title>
                <ion-card-subtitle color="primary">Steuerfachangestellte</ion-card-subtitle>
                <p>Durchwahl: 0521 92420 - 22</p>
                <a href="mailto:ewaoziembala@ingo-kneisel.de">ewaoziembala@ingo-kneisel.de</a>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="4" size-lg="4" size-xl="4">
            <ion-card>
              <ion-card-header>
              </ion-card-header>
              <ion-card-content class="contact">
                <ion-avatar slot="start">
                  <img src="../../../assets/skneisel.jpg">
                </ion-avatar>
                <ion-card-title>Susanne Kneisel</ion-card-title>
                <ion-card-subtitle color="primary">Steuerfachangestellte</ion-card-subtitle>
                <p>Durchwahl: 0521 92420 - 0</p>
                <a href="mailto:susannekneisel@ingo-kneisel.de">susannekneisel@ingo-kneisel.de</a>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="4" size-lg="4" size-xl="4">
            <ion-card>
              <ion-card-header>
              </ion-card-header>
              <ion-card-content class="contact">
                <ion-avatar slot="start">
                  <img src="../../../assets/akuebler.jpg">
                </ion-avatar>
                <ion-card-title>Anette Kübler</ion-card-title>
                <ion-card-subtitle color="primary">Steuerfachangestellte</ion-card-subtitle>
                <p>Durchwahl: 0521 92420 - 25</p>
                <a href="mailto:anettekuebler@ingo-kneisel.de">anettekuebler@ingo-kneisel.de</a>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="4" size-lg="4" size-xl="4">
            <ion-card>
              <ion-card-header>
              </ion-card-header>
              <ion-card-content class="contact">
                <ion-avatar slot="start">
                  <img src="../../../assets/placeholder.jpeg">
                </ion-avatar>
                <ion-card-title>Nicole Klein</ion-card-title>
                <ion-card-subtitle color="primary">Auszubildende zur Kauffrau für Büromanagement</ion-card-subtitle>
                <p>Durchwahl: 0521 92420 - 0</p>
                <a href="mailto:nicoleklein@ingo-kneisel.de">nicoleklein@ingo-kneisel.de</a>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="4" size-lg="4" size-xl="4" class="margin-bottom">
            <ion-card>
              <ion-card-header>
              </ion-card-header>
              <ion-card-content class="contact">
                <ion-avatar slot="start">
                  <img src="../../../assets/ikneisel.png">
                </ion-avatar>
                <ion-card-title>Ingo Kneisel</ion-card-title>
                <ion-card-subtitle color="primary">Steuerberater, vereidigter Buchprüfer</ion-card-subtitle>
                <p>Durchwahl: 0521 92420 - 21</p>
                <a href="mailto:info@ingo-kneisel.de">info@ingo-kneisel.de</a>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
</ion-content>
